Application/Application/Service References/BusinessServiceReference/BLL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHouseTypeSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseTypeSerializable" nillable="true" type="tns:HouseTypeSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseTypeSerializable" nillable="true" type="tns:ArrayOfHouseTypeSerializable" />
  <xs:complexType name="HouseTypeSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseTypeSerializable" nillable="true" type="tns:HouseTypeSerializable" />
  <xs:complexType name="ArrayOfHouseSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseSerializable" nillable="true" type="tns:HouseSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseSerializable" nillable="true" type="tns:ArrayOfHouseSerializable" />
  <xs:complexType name="HouseSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseSerializable" nillable="true" type="tns:HouseSerializable" />
  <xs:complexType name="ArrayOfUserSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSerializable" nillable="true" type="tns:UserSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSerializable" nillable="true" type="tns:ArrayOfUserSerializable" />
  <xs:complexType name="UserSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSerializable" nillable="true" type="tns:UserSerializable" />
</xs:schema>