Application/Application/Service References/BusinessServiceReference/DAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseIdSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolvedBySerializable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SolvedSerializable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserTextSerializable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>