Application/Application/Service References/BusinessServiceReference/DAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHouseTypeSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseTypeSerializable" nillable="true" type="tns:HouseTypeSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseTypeSerializable" nillable="true" type="tns:ArrayOfHouseTypeSerializable" />
  <xs:complexType name="HouseTypeSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseTypeSerializable" nillable="true" type="tns:HouseTypeSerializable" />
  <xs:complexType name="ArrayOfHouseSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseSerializable" nillable="true" type="tns:HouseSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseSerializable" nillable="true" type="tns:ArrayOfHouseSerializable" />
  <xs:complexType name="HouseSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseSerializable" nillable="true" type="tns:HouseSerializable" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseIdSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneSerializable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolvedBySerializable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SolvedSerializable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserTextSerializable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfUserSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSerializable" nillable="true" type="tns:UserSerializable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSerializable" nillable="true" type="tns:ArrayOfUserSerializable" />
  <xs:complexType name="UserSerializable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSerializable" nillable="true" type="tns:UserSerializable" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseType" nillable="true" type="tns:HouseType" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:complexType name="HouseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="House" nillable="true" type="tns:ArrayOfHouse" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseType" nillable="true" type="tns:HouseType" />
  <xs:complexType name="ArrayOfHouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" nillable="true" type="tns:House" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouse" nillable="true" type="tns:ArrayOfHouse" />
</xs:schema>