Application/Application/Service References/BusinessServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusinessService_GetHouseTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseTypes" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetHouseTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetHouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouses" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetHouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusinessService">
    <wsdl:operation name="GetHouseTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetHouseTypes" message="tns:IBusinessService_GetHouseTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetHouseTypesResponse" message="tns:IBusinessService_GetHouseTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetHouses" message="tns:IBusinessService_GetHouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetHousesResponse" message="tns:IBusinessService_GetHouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetTickets" message="tns:IBusinessService_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetTicketsResponse" message="tns:IBusinessService_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetUsers" message="tns:IBusinessService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetUsersResponse" message="tns:IBusinessService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/CheckLogin" message="tns:IBusinessService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/CheckLoginResponse" message="tns:IBusinessService_CheckLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBusinessService" type="tns:IBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHouseTypes">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetHouseTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouses">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetHouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port name="BasicHttpBinding_IBusinessService" binding="tns:BasicHttpBinding_IBusinessService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BLL/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>