Application/Application/Service References/AutomobileServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BLL" />
  <xs:element name="GetAutomobiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutomobilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL" minOccurs="0" name="GetAutomobilesResult" nillable="true" type="q1:ArrayOfAutomobileSerializable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL" minOccurs="0" name="GetAllVendorsResult" nillable="true" type="q2:ArrayOfVendorSerializable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>